# Arquivos de dependências e build local
node_modules/
npm-debug.log

# Arquivos de ambiente
# Nunca comite arquivos com segredos!
.env
.env.*
!/.env.example

# Arquivos de log
*.log
logs

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Diretórios de IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln